extends layout

block css
    link(rel='stylesheet', href='/css/bootstrap-switch.min.css')

block content
    div(class='container' style="margin-bottom: 50px;")
        div(class="page-header")
            h1 家電控制
        h2 LED電燈
        h3 Room 1
        input(type="checkbox" name="led_0")
        h3 Room 2
        input(type="checkbox" name="led_1")
        h3 Room 3
        input(type="checkbox" name="led_2")
        h2 插頭
        h3 插座 1
        input(type="checkbox" name="plug_0")
        h3 插座 2
        input(type="checkbox" name="plug_1")
        h2 大門
        input(type="checkbox" name="door")

block javascript
    script(type="text/javascript" src="javascripts/bootstrap-switch.min.js")
    script(type="text/javascript").
        $(function () {
            var names = ['led_0', 'led_1', 'led_2', 'plug_0', 'plug_1', 'door'];
            for (var i in names) {
                var bs_switch = $("[name='" + names[i] + "']");
                bs_switch.bootstrapSwitch();
                bs_switch.on('switchChange.bootstrapSwitch', function (event, state) {
                    var bs_switch = $(this);
                    socket.emit('set-appliance', {'name': bs_switch.attr('name'), value: state});
                });
            }
        });
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(type="text/javascript").
        $(function () {
            socket = io("http://" + window.location.hostname + ":3001");

            socket.on("connect", function () {
                socket.emit('add-channel', 'appliance-control');

                socket.on('update-appliance', function (data) {
                    console.log(data);
                    var bs_switch = $("input[name='" + data.name + "']");
                    if (data.status == "status_on") {
                        bs_switch.bootstrapSwitch('state', true, true);
                    }
                    else if (data.status == "status_off") {
                        bs_switch.bootstrapSwitch('state', false, true);
                    }
                });
            });
        });
