extends layout

block css
    link(rel='stylesheet', href='/css/bootstrap-switch.min.css')

block content
    div(class='container')
        div(class="page-header")
            h1 家電控制
        h2 LED電燈
        h3 Room 1
        input(type="checkbox" name="led_0")
        h3 Room 2
        input(type="checkbox" name="led_1")
        h3 Room 3
        input(type="checkbox" name="led_2")
        h2 插頭
        h3 插座 1
        input(type="checkbox" name="plug_0")
        h3 插座 2
        input(type="checkbox" name="plug_1")

block javascript
    script(type="text/javascript" src="javascripts/bootstrap-switch.min.js")
    script(type="text/javascript").
        $(function () {
            $("[name='led_0']").bootstrapSwitch();
            $("[name='led_1']").bootstrapSwitch();
            $("[name='led_2']").bootstrapSwitch();

            $("[name='plug_0']").bootstrapSwitch();
            $("[name='plug_1']").bootstrapSwitch();
        });
