extends layout

block css
    link(rel='stylesheet', href='/css/bootstrap-switch.min.css')

block content
    div(class='container' style="margin-bottom: 50px;")
        div(class="page-header")
            h1 家電控制

        span(class="pull-right")
            span(id="connect_status")
                i(class="fa fa-spinner fa-spin" aria-hidden="true")
                | &nbsp;連線中
        div(class="clearfix")

        h2 LED電燈
        h3 Room 1
        input(type="checkbox" name="led_0")
        h3 Room 2
        input(type="checkbox" name="led_1")
        h3 Room 3
        input(type="checkbox" name="led_2")
        h2 插頭
        h3 插座 1
        input(type="checkbox" name="plug_0")
        h3 插座 2
        input(type="checkbox" name="plug_1")
        h2 大門
        input(type="checkbox" name="door")
        h2 跑馬燈
        div(class="form-inline")
            div(class="form-group")
                label(for="message" style="margin-right: 10px;") 訊息
                input(type="text" class="form-control" id="message" style="margin-right: 10px;" placeholder="Hello world!!!")
            button(id="send-msg" class="btn btn-default") 設定
        h2 G_Print
        h3 電風扇
        div(id="fan_control" class="btn-group btn-group-lg" role="group")
            button(type="button" class="btn btn-default" id="fan_steering") 轉向
            button(type="button" class="btn btn-default" id="fan_timing") 定時
            button(type="button" class="btn btn-danger" id="fan_close") 關
            button(type="button" class="btn btn-default" id="fan_super") 超強
            button(type="button" class="btn btn-default" id="fan_gale") 強風
            button(type="button" class="btn btn-default" id="fan_breeze") 微風

block javascript
    script(type="text/javascript" src="javascripts/bootstrap-switch.min.js")
    script(type="text/javascript").
        $(function () {
            var names = ['led_0', 'led_1', 'led_2', 'plug_0', 'plug_1', 'door'];
            for (var i in names) {
                var bs_switch = $("[name='" + names[i] + "']");
                bs_switch.bootstrapSwitch();
                bs_switch.on('switchChange.bootstrapSwitch', function (event, state) {
                    var bs_switch = $(this);
                    socket.emit('set-appliance', {'name': bs_switch.attr('name'), value: state});
                });
            }

            $("#send-msg").click(function () {
                $.ajax({
                    url: '/appliance-control',
                    type: "POST",
                    data: {msg: $("#message").val()},
                    dataType: "json",
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log('error', xhr.status + ': ' + thrownError);
                    }
                });
            });

            $('#fan_control').find('button').click(function() {
                var id = $(this).attr('id');
                if (id == 'fan_steering') {
                    send_fan_command('steering');
                }
                else if (id == 'fan_timing') {
                    send_fan_command('timing');
                }
                else if (id == 'fan_close') {
                    send_fan_command('close');
                }
                else if (id == 'fan_super') {
                    send_fan_command('super');
                }
                else if (id == 'fan_gale') {
                    send_fan_command('gale');
                }
                else if (id == 'fan_breeze') {
                    send_fan_command('breeze');
                }
            });
        });

        function send_fan_command(command) {
            socket.emit('fan_ir_command', command);
        }
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(type="text/javascript").
        $(function () {
            var $connect_status = $('#connect_status');

            socket = io("//" + window.location.hostname + (location.port == "" ? "" : ":" + location.port));

            socket.on("connect", function () {
                $connect_status.removeClass();
                $connect_status.addClass('text-success');
                $connect_status.html('<i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;連線成功');

                socket.emit('add-channel', 'appliance-control');

                socket.on('update-appliance', function (data) {
                    // console.log(data);
                    var bs_switch = $("input[name='" + data.name + "']");
                    if (data.status == "status_on") {
                        bs_switch.bootstrapSwitch('state', true, true);
                    }
                    else if (data.status == "status_off") {
                        bs_switch.bootstrapSwitch('state', false, true);
                    }
                });
            });

            // 連線失敗提示
            socket.on("connect_error", function () {
                $connect_status.removeClass();
                $connect_status.addClass('text-danger');
                $connect_status.html('<i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;連線失敗');
            });

            // 連線中提示
            socket.on("reconnecting", function () {
                $connect_status.removeClass();
                $connect_status.addClass('text-danger');
                $connect_status.html('<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp;連線中');
            });
        });
