extends layout

block content
    div(class='container')
        div(class="page-header")
            h1 危險偵測
        h2 平面圖
        div(class="text-center")
            div()
                img(src="/images/floor_plan.png")
        h2 偵測器資料&nbsp;
            small (更新頻率：5分鐘)
        h3 瓦斯
        h3 火災
        h3 一氧化碳
